<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AvCaptureSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B1A6E251BABC2F800688DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B1A6E3E1BABC2F800688DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B1A6E491BABC2F800688DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
